simple-patent-document-v1-9.dtd

<!-- 
This DTD is intended for data exchange of bibliographic data and other data types if available (images, citations, full-text) between Patent Offices and the EPO under a simplified data structure which is fully WIPO ST.36 and Annex F compliant.
The simplifications have been achieved by removing unnecessary optional elements of ST.36 / Annex F structures and by limiting the text parts to text only without any superfluous embellishment  and/or structured tags.
It is not intended for any other purpose than the above.
*********************************
CONTACTS
*********************************
For questions related to data exchange, data format and data content: Front Office (Information Services Processing) - frontoffice@epo.org
For specific questions on this DTD: Leo Sarasúa - lsarasua@epo.org
-->

<!--
*******************************************************************************
* SECTION I - DECLARATION, ENT. REFs, etc 
*******************************************************************************
-->

<!ENTITY % name_group "((name | (prefix?,(last-name | orgname),first-name?,
middle-name?,first-last-name?, second-last-name?, suffix?,iid?,role?,orgname?,
department?,synonym*)),registered-number?)"> 

<!ENTITY % address_group  "((address-1?,address-2?,address-3?,address-4?,
address-5?,mailcode?,pobox?,room?,address-floor?,building?,street?,city?,
county?,state?,postcode?,country) | text)">

<!-- -->
<!--
*******************************************************************************
* SECTION II - DTD 
*******************************************************************************

Example:

<ep-patent-document id="EP07450020A1" file="EP07450020NWA1.xml" 
lang="de" country="EP" doc-number="1878631" kind="A1" date-publ="20080116" 
status="n" dtd-version="ep-patent-document-v1-3">
-->

<!ELEMENT simple-patent-document  (bibliographic-data, abstract*,
description*,claims*,drawings?,search-report-data*,sequence-list-doc?)>

<!ATTLIST simple-patent-document
               id  		ID    	#IMPLIED 
               file  		CDATA 	#IMPLIED 
               lang  		CDATA 	#REQUIRED 
               country  	CDATA 	#REQUIRED 
               doc-number  	CDATA 	#IMPLIED 
               kind  		CDATA 	#IMPLIED 
               correction-code  CDATA 	#IMPLIED 
               date-publ  	CDATA 	#IMPLIED 
               status  		CDATA 	#IMPLIED 
               sequence  	CDATA   #IMPLIED 
               dtd-version  	CDATA 	#IMPLIED 
               date-produced  	CDATA 	#IMPLIED 
               file-reference-id  CDATA    #IMPLIED>

<!--
*********************************
DOC-PAGE
*********************************
This is primarily to be used when data for the whole or major sections of an application are in an image format (TIFF, PDF, etc).

Page range attributes are given when required:
pp - page range
ppf - first page
ppl - last page (for pdf)
The 'img' may also be used for complete pages, e.g. in drawings

Example:
<search-report-data id="srep" srep-office="EP" date-produced="20050308">
	<doc-page id="srep0001" file="srep0001.tif" he="231" wi="159" type="tif" />
	<doc-page id="srep0002" file="srep0002.tif" he="231" wi="159" type="tif"/>
</search-report-data>
-->

<!ELEMENT doc-page   EMPTY>

<!ATTLIST doc-page
               id  	ID    	#IMPLIED 
               file  	CDATA 	#REQUIRED 
               wi  	CDATA 	#REQUIRED
               he  	CDATA  	#REQUIRED 
               type 	(jpg | pdf | tif)   #REQUIRED 
               alt  	CDATA  	#IMPLIED 
               pp  	CDATA  	#IMPLIED 
               ppf  	CDATA  	#IMPLIED 
               ppl  	CDATA  	#IMPLIED 
               ocr  	CDATA  	#IMPLIED
               color (color | bw)   #IMPLIED 
               orientation (portrait | landscape)  "portrait">

<!--
*******************************************************************************
ABSTRACT (SUB-DOCUMENT)
*******************************************************************************

Example:
	<abstract id="abst" lang="de">
-->

<!ELEMENT abstract  (doc-page+ |p+)>

<!ATTLIST abstract
               id  	ID	 #IMPLIED 
               lang  	CDATA    #IMPLIED 
               status  	CDATA    #IMPLIED>


<!--
*******************************************************************************
DESCRIPTION (SUB-DOCUMENT)
*******************************************************************************

Example:
<description id="desc" lang="de">
-->

<!ELEMENT description  (doc-page+ | p+)>

<!ATTLIST description
               id  	ID    	#IMPLIED 
               lang  	CDATA 	#IMPLIED 
               status  	CDATA 	#IMPLIED>

<!--
*******************************
PARAGRAPH
*******************************

Required usage:
	- In case of standard paragraphs in the description: id="p0001", "p0002", etc.
	- In case of abstracts: id="pa01", "pa02", etc.
	- In case of amended-claims-statement: id="pc0001", "pc0002", etc.
	- In case of search reports: id="ps0001", "ps0002", etc.
	- num = 0001, 0002, etc.
-->

<!ELEMENT p  (#PCDATA | img)*>

<!ATTLIST p
               id  ID    #IMPLIED 
               num  CDATA    #REQUIRED>

<!--
*******************************
IMAGE DATA
*******************************
Image is used for any kind of image: drawings, art work, figures, complex work units (math, tables, chemistry), etc.

Required usage: The following attributes must be used in this order:
	- id
	- file
	- wi (in mm)  - note wi and he can be in any order
	- he (in mm)
	- img-content="drawing" (default - may be other - see below)
	- img-format="tif" (default - no other)
	- orientation="portrait" or "landscape"
	- inline may be used
	- alt is NOT used

	- id and file values:
	- For figures within the DRAWINGS section:
		id="if0001", etc.
		file="imgf0001.tif" (where f = figure)
	- For images within the DESCRIPTION and CLAIMS section:
		id="ib0001", etc.
		file ="imgb0001.tif" (where b = body)
	- For images within the BODY of the ABSTRACT section eg a chemical formula:
		id="ia01", etc.
		file ="imga0001.tif" (where a = abstract)
	- For the figure to accompany the ABSTRACT section (abstract drawing): Taken from the drawings section:
		id="iaf01", etc.
		file ="imgaf001.tif" (where af = abstract figure)

Example:

<img id="if0001" file="imgf0001.tif" wi="155" he="230" img-content="drawing" img-format="tif"/>

Note: Where images occur (possibly in other sections, eg. search report data) use similar logic.
-->

<!ELEMENT img   EMPTY>

<!ATTLIST img
               id  		ID    	#IMPLIED 
               file  		CDATA 	#REQUIRED
               wi  		CDATA 	#REQUIRED 
               he  		CDATA 	#REQUIRED 
               img-content (drawing | photograph | character | dna | undefined | 
               chem | table | math | program-listing | flowchart | graph)  "drawing"
               img-format (jpg | tif | st33 | st35)   #REQUIRED 
               orientation (portrait | landscape)  "portrait"
               inline (yes | no)  "no" 
               alt  CDATA    #IMPLIED>

<!--
****************************************************
CLAIMS (SUB-DOCUMENT)
****************************************************
Defines the matter for which protection is sought.

Examples:

Claims in EP-B docs:
<claims id="claims01" lang="en">
<claims id="claims02" lang="de">
<claims id="claims03" lang="fr">

Claims for contracting states:
<claims id="claims01" lang="en" claim-type="Claim(s) for the following Contracting State(s): AT, BE">
<claims id="claims02" lang="en" claim-type="Claim(s) for the following Contracting State(s): GB">
<claims id="claims03" lang="de">
-->

<!ELEMENT claims  (doc-page+ | claim+)>

<!ATTLIST claims
               id  		ID    	#IMPLIED 
               lang  		CDATA 	#IMPLIED 
               claim-type  	CDATA 	#IMPLIED 
               status  		CDATA 	#IMPLIED>

<!--
*******************************
THE ACTUAL CLAIMS
*******************************

Required usage:

If the parent element is claims and there is only ONE set of claims:
	- id="c-fr-0001", c-fr-0002, etc.
	- num = 0001, 0002, etc.

Example:
<claims id="claims01" lang="en">
	<claim id="c-en-0001" num="0001">
		<claim-text>Here is the first claim ... </claim-text>
	</claim>
</claims>

If parent element is claims and there are MULTIPLE sets of claims (for EP-B docs) then:
	- id="c-en-01-0001", c-en-01-0002, etc.
	- num="0001", 0002, etc.
	- id="c-de-01-0001", c-de-01-0002, etc.
	- num"="0001", 0002, etc.
	- id="c-fr-01-0001", c-fr-01-0002, etc.
	- num="0001", 0002, etc.

If parent element is amended-claims and there is only ONE set, then use "aclaims"; 
in the unlikely event of multiple amended claims use: "aclaims01" etc, 
the actual claims will be numbered (for single occurrence):
	- id="ac-en-0001", ac-en-0002, etc.
	- num="0001", 0002, etc.
-->

<!ELEMENT claim  (claim-text+)>

<!ATTLIST claim
               id  	ID    	#IMPLIED 
               num  	CDATA 	#REQUIRED 
               claim-type  CDATA    #IMPLIED>

<!--
***********************************
THE TEXT WITHIN CLAIMS
***********************************
The text of the claim follows the same model as <p> but no lists; 
for lists use <claim-text> and any mark required for the list within the text.
-->

<!ELEMENT claim-text  (#PCDATA)>

<!--
***************************************
DRAWING (SUB-DOCUMENT)
***************************************

Required usage:
	- id="draw"
	- lang
-->

<!ELEMENT drawings  (doc-page+ |figure+)>

<!ATTLIST drawings
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED 
               status  CDATA    #IMPLIED>

<!-- 
*******************
FIGURE
*******************

Required usage:
	- id="f0001", "f0002", etc
	- num="0001" or as entered by the applicant

Example:
<figure id="f0001" num="0001">
<figure id="f0001" num="1a">
-->

<!ELEMENT figure  (img)>

<!ATTLIST figure
               id  ID    #IMPLIED 
               num  CDATA    #REQUIRED 
               figure-labels  CDATA    #IMPLIED>

<!--
*******************************************
SEARCH REPORT (SR) DATA
*******************************************
Notes:
	- The SR can be standalone (as sent to the applicant) or part of the actual publication (A1, A3, A9) where srep-for-pub is used.
	- Offices MAY have a separate SR DTD but many elements are also in other areas of the DTD.

Required usage:
	- id="srepxml"
	- lang="en" or "fr" or "de"
	- srep-office="EP"
	- date-produced = date finished by the examiner
	- srep-type=  (DETERMINES LAYOUT OF SR together with language, explained more below)
		- "ep-sr"  - normal SR layout 
		- "ep-rule45-sr"  or "ep-rule63-sr"
		- "ep-rule46-sr"  or "ep-rule64-sr"
		- "ep-Rule46supplmentary-sr"  or "ep-Rule64supplmentary-sr"
		- "ep-Rule45declaration-sr" - layout for Declaration (no citations, old Form 1504)
			or "ep-Rule63declaration-sr" 
		- "ep-supplementary-sr"	     (always after an ISR)
		- "isr" - International Search Report layout 
		- "sisr" - Supplementary International Search Report layout 
		- "itsr" - International Type Search Report layout 
 
	- status="n" in most cases
-->

<!ELEMENT search-report-data  (doc-page+)>

<!ATTLIST search-report-data
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED 
               srep-office  CDATA    #REQUIRED 
               date-produced  CDATA    #REQUIRED 
               srep-type  CDATA    #IMPLIED 
               status  CDATA    #IMPLIED>

<!--
*******************************
DOCUMENT ID 
*******************************

Document identification = Country code + Document number + Kind code + Date
-->

<!ELEMENT document-id  (country,doc-number,kind?,name?,date?)>

<!ATTLIST document-id
               lang  CDATA    #IMPLIED>

<!--
Country: Always use WIPO ST.3 country code; e.g. US, JP, DE, FR, GB, NL, etc.
Also EP, WO. Always in upper case. It is also possible to use "stateless" (XA).
-->

<!-- Doc-number: The number of the referenced patent (or application) document -->

<!ELEMENT doc-number  (#PCDATA)>

<!--
Kind: Code identifying the type of patent document; e.g., A1, B1, etc.
Always use WIPO ST.16 kind codes.
-->

<!--
Name:
If no distinction or detail can be given.
Also to be used for: personal (natural person) and corporate (legal entity) names.
-->

<!ELEMENT name  (#PCDATA)>

<!ATTLIST name
               name-type (legal | natural)   #IMPLIED>

<!--
*******************************
ADDRESSBOOK GROUP:
*******************************
Holds name and contact information for individuals/organizations (also used in NPL citations).

The LANG attribute is REQUIRED for certain document types,
e.g., the JPO PCT Request where names and addresses may be repeated in two different languages. If no structure possible use text.
-->

<!ELEMENT addressbook  ((%name_group;,address,phone*,fax*,email*,url*,ead*,dtext?) | text)>

<!ATTLIST addressbook
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED>

<!-- Title: e.g., Mr., Mrs., Dr., etc -->

<!ELEMENT prefix  (#PCDATA)>

<!-- Last name, familiy name, surname -->

<!ELEMENT last-name  (#PCDATA)>

<!-- Organisation name or company name -->

<!ELEMENT orgname  (#PCDATA)>

<!-- First or given name(s), initial(s) -->

<!ELEMENT first-name  (#PCDATA)>

<!-- Middle name(s) or initial(s) -->

<!ELEMENT middle-name  (#PCDATA)>

<!-- First last name (father's family surname), for some countries (such as Spain) is legally mandatory --> 

<!ELEMENT first-last-name (#PCDATA)> 

<!-- Second last name (mother's family surname), for some countries (such as Spain) is legally mandatory --> 

<!ELEMENT second-last-name (#PCDATA)> 

<!-- Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.) -->

<!ELEMENT suffix  (#PCDATA)>

<!-- Individual id -->

<!-- Role; e.g., President, Chairman, etc. -->

<!ELEMENT role  (#PCDATA)>

<!-- Department, division, section, etc. name -->

<!ELEMENT department  (#PCDATA)>

<!-- Synonym -->

<!ELEMENT synonym  (#PCDATA)>

<!-- Registered number -->

<!ELEMENT registered-number  (#PCDATA)>

<!--
Address components:
Address formats differ from country to country.
If no structure possible use text
-->

<!ELEMENT address  %address_group;>

<!-- Address, first line -->

<!ELEMENT address-1  (#PCDATA)>

<!-- Address, second line -->

<!ELEMENT address-2  (#PCDATA)>

<!-- Address, third line -->

<!ELEMENT address-3  (#PCDATA)>

<!-- Address, fourth line -->

<!ELEMENT address-4  (#PCDATA)>

<!-- Address, fifth line -->

<!ELEMENT address-5  (#PCDATA)>

<!-- Organizational mail code -->

<!ELEMENT mailcode  (#PCDATA)>

<!-- Post Office Box number -->

<!ELEMENT pobox  (#PCDATA)>

<!-- Address room; e.g., Room 55B -->

<!ELEMENT room  (#PCDATA)>

<!-- Address floor; e.g., 10th -->

<!ELEMENT address-floor  (#PCDATA)>

<!-- Building information in address; e.g., Hoffman building -->

<!ELEMENT building  (#PCDATA)>

<!-- Street may contain house number or name -->

<!ELEMENT street  (#PCDATA)>

<!-- City or town name -->

<!-- County, parish, department, etc (mainly UK, USA) -->

<!ELEMENT county  (#PCDATA)>

<!-- Region of country; e.g., state, province, etc. -->

<!-- Postal code or zip code -->

<!ELEMENT postcode  (#PCDATA)>

<!-- Telephone number -->

<!ELEMENT phone  (#PCDATA)>

<!-- Fax number -->

<!--
Email address

Attribute:
Email-purpose: Reason for which email address is included:
		- informal: for informal contact only
		- general: for any type of communication
		- advance: any type of communication, but formal messages followed up
        - by conventional mailing (to the extent offered): where applicant desires this address to be used as primary
        means of contact as a replacement of the use of conventional post (to the extent that an Office offers this)
	
The default value depends on e-mail policies of the relevant Office. 
For PCT purposes as at 1 July 2008, no attribute being included is equivalent to 'informal'
-->

<!ELEMENT email (#PCDATA)>

<!ATTLIST email  email-purpose   (informal | general | advance | main )  #IMPLIED>

<!-- Universal Resource Locator; e.g. www.wipo.int -->

<!ELEMENT url  (#PCDATA)>

<!-- Electronic address use for other than email -->

<!-- Descriptive text -->

<!ELEMENT dtext  (#PCDATA)>

<!-- 
************************************************
Common elements taken out of context
************************************************
-->
<!-- Individual id -->

<!ELEMENT iid  (#PCDATA)>

<!-- Document kind code; e.g., A1 (WIPO ST. 16) -->

<!ELEMENT kind  (#PCDATA)>

<!-- Date: components of a date. Format: YYYYMMDD -->

<!ELEMENT date  (#PCDATA)>

<!-- If no structure is possible, enter text (without markup) -->

<!ELEMENT text  (#PCDATA)>

<!-- Electronic address use for other than email -->

<!ELEMENT ead  (#PCDATA)>

<!-- Fax number -->

<!ELEMENT fax  (#PCDATA)>

<!-- City or town name -->

<!ELEMENT city  (#PCDATA) >

<!-- Region of country; e.g., state, province, etc. -->

<!ELEMENT state  (#PCDATA)>

<!--
Country: Always use WIPO ST.3 country code; e.g. US, JP, DE, FR, GB, NL, etc.
Also EP, WO. Always in upper case. It is also possible to use "stateless" (XA).
-->

<!ELEMENT country  (#PCDATA)>

<!--
*******************************
CITATIONS
*******************************
Grouping tag for patent literature (patcit) and for or non-patent literature (nplcit) plus data related to the references documents.

Recommended id='cit0001', 'cit0002', etc.
For the SR: id='sr-cit0001', 'sr-cit0002'

Attribute "cited-phase" - Different options explained hereunder:

1. Description: Cited in the description (during the application/filing phase)

2. Search: General Search phase; used when no further information available. Otherwise, use one of the concrete phases (options 2-6 below)

3. International-search-report: Originates from International Search Report

4. Supplementary-international-search-report: Originates from the International Supplementary Search Report

5. National-search-report: Originates from the national Search Report 

6. Supplementary-national-search-report: Originates from the national Supplementary Search Report

7. International-type-search-report: Originates from the international Type Search Report

8. Examination: General Examination phase; use EXA when there is no further information available. Otherwise, use one of the concrete phases (options 8-9 below)

9. International-examination: Cited during PCT chapter II (preliminary examination); international examination

10. National-examination: Revealed during the national examination phase

11. Opposition: Revealed during the Opposition phase

12. Limitation: Revealed during the Limitation phase

13. Other: Other documents of interest (e.g. cited in compte-rendu but not in search report, cited during appeal, etc)

14. Unknown: No information available

-->

<!ELEMENT citation  ((patcit | nplcit),(rel-passage*, category*, rel-claims*)*, corresponding-docs*)>
               
<!ATTLIST citation
	id  		ID   	#IMPLIED 
        cited-phase ( 	description | search | international-search-report | 
          						supplementary-international-search-report | 
          						international-type-search-report | national-search-report |  
          						supplementary-national-search-report | 
          						examination | international-examination | 
          						national-examination | opposition | limitation |
          						other | unknown)  #IMPLIED
		cited-by (	applicant | examiner | opponent | third-party | other | unknown) #IMPLIED
>

<!--
*******************************
PATCIT
*******************************
PATENT CITATIONS:

Patent Citation within paragraph and SR 

This can be free text data without any structure (text).

Attributes (recommended):
	id - pcit0001, pcit0002, etc. for the SR: sr-pcit0001
	num - 0001, 0002, etc.
	dnum - use full number as one string, eg, "US5401234A"
	file - file name eg. if actual file is stored on local systems
	dnum-type - type of document number
	(e.g., application number, publication number)
	url - where possible give full web link to patent eg to espacenet

Examples:

<patcit id='pcit0001' num="0001" dnum='US4793675A' dnum-type='appno'>
	<document-id>
		<country>US</country>
		<doc-number>4793675</doc-number>
		<kind>A</kind>
		<name>Handa</name>
		<date>19881227</date>
	</document-id>
</patcit>

For the SR:
<srep-citations>
	<citation id="sr-cit0001">
		<patcit id='sr-pcit0001' num="0001" dnum='US6089831A'  
		url="http://v3.espacenet.com/textdoc?DB=EPODOC&IDX=US6089831&CY=ep">
			<document-id>
				<country>US</country>
				<doc-number>6089831</doc-number>
				<kind>A</kind>
				<name>ALT MATHIAS ET AL</name>
				<date>20000718</date>
			</document-id>
		</patcit>
		<rel-passage>
			<passage>
			column 3, line 66 - column 6, line 35; figure 2
			</passage>
		</rel-passage>
		<category>A</category>
		<rel-claims>1,4,8,15,16,20,29, 30</rel-claims>
	</citation>
<srep-citations>
-->

<!ELEMENT patcit  (text | document-id)>

<!ATTLIST patcit
               id  ID    #IMPLIED 
               num  CDATA    #IMPLIED 
               dnum  CDATA    #IMPLIED 
               dnum-type  CDATA    #IMPLIED 
               file  CDATA    #IMPLIED 
               url  CDATA    #IMPLIED>

<!-- 
Relevant passage group within patent; most used in search reports
see examples above
-->

<!ELEMENT rel-passage  (text | (passage+,(category,rel-claims?)*))>

<!--
Passage within the cited patent literature
see examples above
-->

<!ELEMENT passage  (#PCDATA)>

<!--
Category  - see examples above

Categories indicating cited documents (references) of particular relevance, for the EPO: 

Category 	X: particularly relevant if taken alone; 
		Y: particularly relevant if taken combined with another document of the same category 
		A: technological background
		O: non-written disclosure
		P: intermediate document
		T: theory or principle underlying the invention 
		E: earlier patent document, but published on ,or after the filing date; 
		D: document cited in the application 
		L: document cited for other reasons
		
		&: member of the same patent family, corresponding document
-->

<!ELEMENT category  (#PCDATA)>

<!--
Relevant claims
see examples above
-->

<!ELEMENT rel-claims  (#PCDATA)>

<!--
*******************************
NPLCIT
*******************************
Non-Patent Literature (NPL) CITation;

This can be free text data without any structure -<text>(#PCDATA) -which is NOTrecommended-
or it can be highly structured data which is marked up (generally) according to ST.14 and ISO 690 layout. 
This is one of the most diffcult areas to standardise as there is no concensus regarding the best way to
layout a bibliographic citation. EPO generally adopts to WIPO ST.14 and AACR2.

This part of the DTD has used many different sources for element names and DTD
structure and reference:

AACR2 / MARC
ISO 12083 - Electronic manuscript prep. and markup. DTD
Association of American Publishers (AAP) Z39.59 DTD
European Working Group for SGML (EWS) MAJOUR DTD
SuperJournal Full Article DTD
www.superjournal.ac.uk/sj
Elsevier DTD
Medline DTD (NLM)

Attributes (recommended):
	id - ncit0001, ncit0002, etc for the SR: sr-ncit0001
	num - 0001, 0002
	npl-type - The TYPE of citation is office specific (recommended):;
		a - Abstract citation of no specific kind
		b - Book citation
		i - Bilogical abstract citation
		c - Chemical abstracts citation
		e - Database citation
		d - Derwent citation
		p - Patent cited within NPL group
		j - Patent Abstracts of Japan citation (REC 067)
		s - Serial / Journal / Periodical citation
		w - World Wide Web / Internet search citation
	medium - the type of medium
	  e.g., online, dvd, cd (CD-ROM), mt (magnetic tape), disk, 
	file - file name on local systems eg. XP number in EPO
	url - where possible give full web link to document
-->

<!ELEMENT nplcit  (text | article | book | online | othercit)>

<!ATTLIST nplcit
               id  ID    #IMPLIED 
               num  CDATA    #IMPLIED 
               lang  CDATA    #IMPLIED 
               file  CDATA    #IMPLIED 
               npl-type  CDATA    #IMPLIED 
               medium  CDATA    #IMPLIED 
               url  CDATA    #IMPLIED>

<!--
*******************************
ARTICLE CITATION
*******************************

Article citations within a 'host' document

After patent citations the most common citations are articles within serials (periodicals, magazines), books and electronic (eg. internet) sources).
This is a very complex and varied area to standardise. The tag set below is drawn from a number of sources as is the order of the tags (which in any case can be changed depending on the stylesheet used).

The order of tags is (generally) that of WIPO ST.14 / ISO 690 layout:

Examples:

DROP, J.G. Integrated Circuit Personalization at the Module Level. IBM tech. dis. bull.
October 1974, Vol.17, No.5, pages 1344 and 1345, ISSN 2345-6789.
[XPnnnnnnnnnnn].

As a *Search Report* citation the markup is:

<citation id="sr-cit0012">
	<nplcit id='sr-ncit0012' num='0012' npl-type='s' file='XP1234456'>
		<article>
			<author>
				<name>DROP, J.G.</name>
			</author>
			<atl>Integrated Circuit Personalization at the Module Level</atl>
			<serial>
				<sertitle>IBM Tech. Dis. Bull.</sertitle>
				<pubdate>October 1974</pubdate>
				<vid>Vol. 17</vid>
				<ino>No. 5</ino>
				<issn>2345-6789</issn>
			</serial>
			<refno>XP1234456</refno>
		</article>
		<rel-passage>
			<passage>pages 1344 and 1345</passage>
		</rel-passage>
	</nplcit>
</citation>

Outside the SR it would be (after </serial>): 
		<location>
			<pp>pages. 1344 and 1345</pp>
		</location>

BIOLOGICAL ABSTRACTS, vol. 1, 1996 Philadelphia, PA, US; abstract no. 193987, 
SEVENIER, ROBERT ET AL: "Ethylene production and involvement during the first 
steps of durum wheat (Triticum durum) anther culture." XP002133847

<citation id="sr-cit0001">
	<nplcit id="sr-ncit0001" num="0001" npl-type"i">
		<article>
			<author><name>SEVENIER, ROBERT ET AL</name><author>
			<atl>"Ethylene production and involvement during the first 
			steps of durum wheat (Triticum durum) anther culture."</atl>
			<serial>
				<sertitle>BIOLOGICAL ABSTRACTS</sertitle>
				<imprint><text>Philadelphia, PA, US</text></imprint> 
				<pubdate>1996</pubdate>
				<vid>vol. 1</vid>
			</serial>
			<absno>abstract no. 193987</absno>
			<refno>XP002133847</refno>
		</article>
	</nplcit>
</citation>
-->

<!ELEMENT article  (text | (author*,atl?,subname*,(serial | book),absno?,location?,class*,keyword*,cpyrt?,artid?,refno*))>

<!--
Author: Person or corporate body responsible for the intellectual or artistic content of a document. [ISO 690:1987] 

There is no distinguishing between personal and corporate authors
<author> followed by name or addressbook information
use the ID attribute if, for example, there is a need to distinguish between
multiple authors.
Can also include affiliation details

Recommended id="auth01", etc.
-->

<!ELEMENT author  (%name_group; | addressbook)>

<!ATTLIST author
               id  ID    #IMPLIED>

<!-- Article title -->

<!ELEMENT atl  (#PCDATA)>

<!-- Subordinate responsibility; e.g., editor, translator, etc. -->

<!ELEMENT subname  (%name_group; | addressbook)>

<!ATTLIST subname
               subname-type (editor | translator | other-subname-type)  "editor">

<!--
Edition statement
eg. 2nd edition
-->

<!ELEMENT edition  (#PCDATA)>

<!--
Serial: Publication, in any medium, issued in successive parts, usually having numeric or chronological designations and intended to be continued indefinitely. [Adapted from ISO 3297:1986] 
This describes the volume or issue as a whole and not a particular article within it.
-->

<!ELEMENT serial  (sertitle,alttitle?,subname*,issue?,imprint?,pubdate?,descrip?,
               notes?,pubid?,vid?,ino?,doi?,issn?,isbn?,cpyrt?)>

<!-- 
Serial title: the host document
Host document: Document containing contributions or separately identifiable component parts that are not physically or bibliographically independent. [ISO 690:1987] 
-->

<!ELEMENT sertitle  (#PCDATA)>

<!-- Alternate title for serial; e.g. BMJ = British Medical Journal -->

<!ELEMENT alttitle  (#PCDATA)>

<!--
Issue designation; 
Examples:
	- Annual
	- 1971-
	- 1890-1972
-->

<!ELEMENT issue  (#PCDATA)>

<!--
Imprint:
Publication / creation data
Place of publication : publisher, date(s) of publication
usually only date of publication is used for journal citations
-->

<!ELEMENT imprint  (text | (address?,name,pubdate*))>

<!-- Publication date used in npl citations, may be structured or unstructured -->

<!ELEMENT pubdate  (#PCDATA | sdate | edate | time)*>

<!-- Start date used in pubdate -->

<!ELEMENT sdate  (#PCDATA)>

<!-- End date used in pubdate -->

<!ELEMENT edate  (#PCDATA)>

<!-- Time; format HHMM -->

<!ELEMENT time  (#PCDATA)>

<!-- 
This element is used for the physical description of a book or serial; it pagination, size, whether it is illustrated, etc
Generally NOT used in citations in patents. Therefore there is no detailed breakdown of the possible lower elements such as physical size. 

Example: xxvi, 233 p.: ill; 27cm
-->

<!ELEMENT descrip  (#PCDATA)>

<!-- Notes about the serial; e.g. Continues Journal of XYZ 1910-1998, published in French and English, etc. -->

<!ELEMENT notes  (#PCDATA)>

<!-- Publisher's unique id -->

<!ELEMENT pubid  (#PCDATA)>

<!-- Volume id/number -->

<!ELEMENT vid  (#PCDATA)>

<!-- Issue number -->

<!ELEMENT ino  (#PCDATA)>

<!--  
The Digital Object Identifier (DOI) is a system for identifying content objects in the digital environment. DOIs are names assigned to any entity for use on digital networks. 
They are used to provide current information, including where they (or information about them) can be found on the Internet. Information about a digital object may change over time, 
including where to find it, but its DOI will not change. 
The DOI system provides a framework for persistent identification, managing intellectual content, managing metadata, linking customers with content suppliers, facilitating electronic commerce, 
and enabling automated management of media. DOIs can be used for any form of management of any data, whether commercial or non-commercial. 
see:  http://www.doi.org/index.html
** Added 09-03-2006 PB (PFC)
-->

<!ELEMENT doi  (#PCDATA)>

<!-- International Standard Serial Number -->

<!ELEMENT issn  (#PCDATA)>

<!-- International Standard Book Number -->

<!ELEMENT isbn  (#PCDATA)>

<!-- Copyright info: Copyright of publisher of serial -->

<!ELEMENT cpyrt  (#PCDATA)>

<!--
**********************************************
BOOK (MONOGRAPH) CITATION
**********************************************

Non-serial bibliographic item, i.e. an item either complete in one part or complete (or intended to be completed) in a finite number of separate parts. [ISO 690:1987] 

As mentioned the style and manner of actual display/printing varies greatly (even between standards!). Generally in the order specified by WIPO ST.14 and ISO 690 and AACR2 rules for layout

Example:

WALTON, Herrmann. Microwave Quantum Theory. 
London: Sweet and Maxwell, 1973, Vol.2,
ISBN 5-1234-5678-9, 
pages 138 to 192, especially pages 146 to 148.

As a *Search Report* citation the markup is:

<srep-citations>
	<citation>	
		<nplcit id='ncit0013' num='0013' type='b'>
			<book>
				<author>
					<name>WALTON, Herrman</name>
				</author>
				<book-title>Microwave quantum theory</book-title>
				<imprint>
					<address>
						<text>London</text>
					</address>
					<name>Sweet and Maxwell</name>
					<pubdate>1973</pubdate>
				</imprint>
				<vid>Vol. 2</vid>
				<isbn>ISBN 5-1234-5678-9</isbn>
			</book>
		</nplcit>
		<rel-passage>pages 138 to 192, especially pages 146 to 148</rel-passage>
	</citation>	
</srep-citations>

In other citations the <rel-passage> would be replaced by the <location> tag
after <vid>.
-->

<!ELEMENT book  (text | (author*,(book-title+ | conference),(subtitle?,subname*,
               edition?,imprint?,vid?,ino?,descrip?,series?,notes?,absno?,location*,pubid?,
               bookno?,class*,keyword*,cpyrt?,doi?,issn?,isbn*,refno*)))>

<!-- The title of the cited book -->

<!ELEMENT book-title  (#PCDATA)>

<!--
*******************************
CONFERENCE CITATION
*******************************

There is no standard way of citing conference proceedings: the date of the conference may come before or after theplace, for example. 
The tags are specified in a set order where it is not possible or correct then simply use <text>. 
-->

<!ELEMENT conference  (text | (conftitle, confdate?,confno?,confplace?,confsponsor*))>

<!-- Conference title -->

<!ELEMENT conftitle  (#PCDATA)>

<!-- Conference date; if there is only one date or it is unclear use date; otherwise use start and end dates - sdate, edate -->

<!ELEMENT confdate  (date | (sdate, edate))>

<!-- Conference number -->

<!ELEMENT confno  (#PCDATA)>

<!-- Conference place -->

<!ELEMENT confplace  (#PCDATA | address)*>

<!-- Conference sponsor -->

<!ELEMENT confsponsor  (#PCDATA | addressbook)*>

<!-- Book subtitle -->

<!ELEMENT subtitle  (#PCDATA)>

<!--
*******************************
SERIES
*******************************
Series statement
-->

<!ELEMENT series  (text | (mst,msn?,issn?))>

<!-- Monographic series title -->

<!ELEMENT mst  (#PCDATA)>

<!-- Monographic series number -->

<!ELEMENT msn  (#PCDATA)>

<!-- Abstract number -->

<!ELEMENT absno  (#PCDATA)>

<!-- 
*******************************
LOCATION
*******************************
Location of the reference within the cited work
-->

<!ELEMENT location  (text|(serpart?,sersect?,chapter?,pp?,column?,para?,line?))>

<!-- Part within a serial or book; or the book part -->

<!ELEMENT serpart  (#PCDATA)>

<!-- Serial section or book; or the book section -->

<!ELEMENT sersect  (#PCDATA)>

<!-- Chapter; normally in a book. Example: Chapter 2 -->

<!ELEMENT chapter  (#PCDATA)>

<!-- Cited document page numbers -->

<!ELEMENT pp  (#PCDATA | ppf | ppl)*>

<!-- Cited document page first -->

<!ELEMENT ppf  (#PCDATA)>

<!-- Cited document page last -->

<!ELEMENT ppl  (#PCDATA)>

<!-- Cited document column numbers -->

<!ELEMENT column  (#PCDATA | colf | coll)*>

<!-- Cited document column first -->

<!ELEMENT colf  (#PCDATA)>

<!-- Cited document column last -->

<!ELEMENT coll  (#PCDATA)>

<!-- Referenced paragraph within cited work -->

<!ELEMENT para  (#PCDATA | paraf | paral)*>

<!-- Cited paragraph first -->

<!ELEMENT paraf  (#PCDATA)>

<!-- Cited paragraph last -->

<!ELEMENT paral  (#PCDATA)>

<!-- Referenced line within cited work -->

<!ELEMENT line  (#PCDATA | linef | linel)*>

<!-- Cited document line first -->

<!ELEMENT linef  (#PCDATA)>

<!-- Cited document line last -->

<!ELEMENT linel  (#PCDATA)>

<!-- Book number -->

<!ELEMENT bookno  (#PCDATA)>

<!-- Keyword; e.g., from a Thesaurus or classification scheme -->

<!ELEMENT keyword  (#PCDATA)>

<!-- Reference number (general); for the EPO this is the XP number -->

<!ELEMENT refno  (#PCDATA)>

<!ATTLIST refno
        id  ID    #IMPLIED>

<!-- Article unique ID - assigned by a eg. publisher to an article -->

<!ELEMENT artid  (#PCDATA)>

<!--
*******************************
ONLINE CITATION
*******************************

Online citations
Revised according to ISO-690-2 - Electronic documents and parts thereof.
Please refer to this standard for definitions and examples.
See: http://www.nlc-bnc.ca/iso/tc46sc9/standard/690-2e.htm#Contents

The tagging in fact is a mixture of article and book tags together with specific electronic source tags.
'Online' is understood to mean ANY kind of electronic documentation: databases, internet, CD-Roms, DVD, email, etc.

EXAMPLES:

* Complete monograph
Kirk-Othmer Encyclopedia of Chemical Technology [online].
3rd ed. New York : John Wiley, 1984 [cited 3 January 1990].
Available from: DIALOG Information Services, Palo Alto (Calif.).

<nplcit id='ncit0001' num='0001' type="e" medium='online'>
	<online>
		<online-title>Kirk-Othmer Encyclopedia of Chemical Technology
		</online-title>
		<edition>3rd ed.</edition>
		<imprint>
			<address>
				<text>New York</text>
			</address>
			<name>John Wiley</name>
			<pubdate>19840000</pubdate>
		</imprint>
		<avail>DIALOG Information Services, Palo Alto (Calif.).</avail>
		<datecit>
			<date>19900103</date>
		</datecit>
	</online>
</nplcit>

* Article on the Internet:
Clark, Carol. On the Threshold of a Brave New World.
In Blueprint of the Body [online].
CNN.com, 2000. [cited 24 August 2000;10:25 EST]. In-depth specials.
Available from: [http://www.cnn.com/SPECIALS/2000/genome/story/overview/]

<nplcit id='ncit0002' num='0002' type='e' medium='online'>
	<online>
		<author>
			<name>Clark, Carol</name>
		</author>
		<online-title>On the Threshold of a Brave New World</online-title>
		<imprint>
			<name>CNN.com, </name>
			<pubdate>2000</pubdate>
		</imprint>
		<series>
			<text>In-depth specials</text>
		</series>
		<avail>Available from: [http://www.cnn.com/SPECIALS/2000/genome/story/overview/]</avail>
		<datecit>
			<date>[cited 24 August 2000;10:25 EST]</date>
		</datecit>
	</online>
</nplcit>

* Personal communication (e-mail)

Thacker, Jane. MPEG-21 project stream on digital item identification
[online].
Message to: [iso.tc46.sc9@nlc-bnc.ca]. 3 October 2000; 13:33 EST [cited 6
October 2000; 13:10 EST].
Message-ID: [002f01c02d60$051a64a0$22a2580c@vaio]. Personal communication.

<nplcit id='ncit0003' num='0003' type='e' medium='online'>
	<online>
		<author>
			<name>Thacker, Jane</name>
		</author>
		<online-title>MPEG-21 project stream on digital item identification
		</online-title>
		<subname>
			<name>Message to: <iso.tc46.sc9@nlc-bnc.ca></name>
		</subname>
		<pubdate>3 October 2000; 13:33 EST</pubdate>
		<notes>Personal communication</notes>
		<avail>Message-ID: <002f01c02d60$051a64a0$22a2580c@vaio></avail>
		<datecit><date>6 October 2000; 13:10 EST</date></datecit>
</online>
</nplcit>
-->

<!ELEMENT online  (text | (author*,online-title*,hosttitle?,subname*,edition?,(serial | book)?,imprint?,pubdate?,vid?,ino?,history?,series?,hostno?,absno?,location?,
notes?,avail*,class*,keyword*,cpyrt?,doi?,issn?,isbn?,datecit?,srchterm*,srchdate?,refno*))>

<!-- Author -->
<!-- The title within the electronic resource, equal to <atl> and <book-title> -->

<!ELEMENT online-title  (#PCDATA)>

<!-- Title of the host document/database -->

<!ELEMENT hosttitle  (#PCDATA)>

<!-- Subnane -->
<!-- History of the article (not serial) -->

<!ELEMENT history  (text | (received | accepted | revised | misc))>

<!-- Date article was received -->

<!ELEMENT received  (date)>

<!-- Date article was accepted -->

<!ELEMENT accepted  (date)>

<!-- Date article was revised -->

<!ELEMENT revised  (date)>

<!-- Miscellaneous information relating to the history of the article; see ISO 12083 -->

<!ELEMENT misc  (#PCDATA | date)*>

<!-- Numeration within host document -->

<!ELEMENT hostno  (#PCDATA)>

<!--
Availability and access - REQUIRED use for URL, online database, ftp address, email, etc.
Examples:
	- Available from Internet: http://www.epoline.org
	- Available from DIALOG Information Systems, Palo Alto (Calif.)
	- Available from: <http://www.ejb.org/content/vol2/issue3/full/3/index.html>. 
	- Available from Bell and Howell Information and Learning via e-mail to: 
	  <umi@ppp.nasionet.net>. 
-->

<!ELEMENT avail  (#PCDATA)>

<!--
Date cited: Date on which the citation was cited.
May be different from srchdate below.
-->

<!ELEMENT datecit  (date)>

<!-- Search terms -->

<!ELEMENT srchterm  (#PCDATA)>

<!-- Date of search/retrieval YYYYMMDD -->

<!ELEMENT srchdate  (date)>

<!--
*******************************
OTHER CITATIONS
*******************************
Other citations - free form
-->

<!ELEMENT othercit  (#PCDATA)>

<!--
Patent family and corresponding-docs - see examples above
These are also "&" cases.
** PB 2006-03-02 
-->

<!ELEMENT corresponding-docs  ((patcit | nplcit),(rel-passage*,category*,rel-claims*)*)>

<!--
*********************************
BIBLIOGRAPHIC DATA
*********************************
-->

<!ELEMENT bibliographic-data  (publication-reference,
               classification-ipc?,classifications-ipcr?,classification-national*,
               classification-locarno?, application-reference,
               language-of-publication?,priority-claims?,
               parties,invention-title+,
               references-cited?, related-documents?, pct-or-regional-filing-data*,
               pct-or-regional-publishing-data*)>

<!ATTLIST bibliographic-data
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED 
               country  CDATA    #IMPLIED 
               status  CDATA    #IMPLIED>

<!--
Publication reference information: publication number, date, etc.
-->

<!ELEMENT publication-reference  (document-id)>

<!ATTLIST publication-reference
               id  ID    #IMPLIED>


<!-- 
*************************************
CLASSIFICATIONS SECTION
*************************************
Please follow WIPO ST. 8
-->

<!ELEMENT classification-ipc  (edition,main-classification,further-classification*,(
               additional-info | linked-indexing-code-group | 
               unlinked-indexing-code)*,text?)>

<!ATTLIST classification-ipc
               id  ID    #IMPLIED>

<!-- Main classification -->

<!ELEMENT main-classification  (#PCDATA)>

<!-- Further/secondary classification -->

<!ELEMENT further-classification  (#PCDATA)>

<!ATTLIST further-classification
               id  ID    #IMPLIED 
               sequence  CDATA    #IMPLIED>

<!-- Domestic or national classification -->

<!ELEMENT classification-national (country , edition? , main-classification , further-classification* , 
(additional-info | linked-indexing-code-group | unlinked-indexing-code)* , text?)>

<!ATTLIST classification-national  id ID  #IMPLIED>

<!-- Locarno Classification data -->

<!ELEMENT classification-locarno (edition , main-classification , further-classification* , text?)>

<!ATTLIST classification-locarno  id ID  #IMPLIED>

<!-- Classification IPCR - NEW IPCR8 -->

<!ELEMENT classifications-ipcr (classification-ipcr+)>

<!ATTLIST classifications-ipcr  id ID  #IMPLIED>

<!-- Additional information -->

<!ELEMENT additional-info  (p+)>

<!-- Linked indexing code -->

<!ELEMENT linked-indexing-code-group  (main-linked-indexing-code, sub-linked-indexing-code+)>

<!-- Sub/further Linked Indexing Code -->

<!ELEMENT sub-linked-indexing-code  (#PCDATA)>

<!-- Main Linked Indexing Code -->

<!ELEMENT main-linked-indexing-code  (#PCDATA)>

<!-- Unlinked indexing code -->

<!ELEMENT unlinked-indexing-code  (#PCDATA)>


<!-- 
Application reference information: application number, country.
In case of a filing refererence, the kind code is empty and the date refers to the filing date.
-->

<!ELEMENT application-reference  (document-id)>

<!ATTLIST application-reference
               id  ID    #IMPLIED 
               appl-type  CDATA    #IMPLIED>

<!-- Publication language, ISO639-1 language code, e.g, en,de,ja, etc.-->

<!ELEMENT language-of-publication  (#PCDATA)>


<!-- PCT/RO/101 BOX No.VI Priority Claim (PCT Rule 4.10) -->

<!ELEMENT priority-claims  (priority-claim+)>

<!-- Priority claim (PCT Rule 4.10) -->

<!ELEMENT priority-claim  (country,doc-number,date)>

<!ATTLIST priority-claim
               id  ID    #IMPLIED 
               sequence  CDATA    #REQUIRED 
               kind (national | regional | international)   #REQUIRED>

<!--
PCT/RO/101 Box No.II, III and IV APPLICANTS, FURTHER APPLICANT(S)
AND/OR (FURTHER) INVENTOR(S)AGENT OR COMMON REPRESENTATIVE;
OR ADDRESS FOR CORRESPONDENCE (PCT Rule 4.5, 4.6, 4.7, 4.8) (INID 70)
-->

<!ELEMENT parties  (applicants,inventors?,correspondence-address?,agents?,grantees?)>

<!--
Applicants information:
At least one of the applicants named must be a resident or national of a PCT Contracting State for which the receiving Office acts.
-->

<!ELEMENT applicants  (applicant+)>

<!--
*******************************
APPLICANT DATA
*******************************
Applicant information:
(INID 71)

attributes for applicant
sequence : sequence number of each applicant
e.g, sequence="1"
app-type : applicant type
app-type="applicant" : the applicant is only applicant
app-type="applicant-inventor" : the applicant is also inventor
app-type="applicant-proprietor" : the applicant is also the patent proprietor (grantee)
designation: This person is applicant for the purpose of:
designation="all" : all designated states
designation="all-except-us": all designated states except US
designation="us-only" : US only
designation="as-indicated" : the states indicated in
designated-states element
under applicant element
-->

<!ELEMENT applicant  (addressbook+,nationality,residence)>

<!ATTLIST applicant
               sequence  CDATA    #REQUIRED 
               app-type (applicant | applicant-inventor | applicant-proprietor)   #REQUIRED 
               designation (all | all-except-us | us-only | as-indicated)  
                #REQUIRED>

<!-- Country of nationality -->

<!ELEMENT nationality  (country)>

<!-- Country of residence -->

<!ELEMENT residence  (country)>

<!--
Inventors information:
If the US is designated, all of the inventors must also be named as applicants for purposes of that designation.
-->

<!ELEMENT inventors  (inventor | deceased-inventor)+>

<!--
The individual or entity responsible for creating the matter that protection is sought for.
-->

<!ELEMENT inventor  (addressbook+, nationality, residence)>

<!ATTLIST inventor
               sequence  CDATA    #REQUIRED 
               designation (all | all-except-us | us-only | as-indicated)  
                #IMPLIED>

<!-- Deceased inventor name -->

<!ELEMENT deceased-inventor  %name_group;>

<!ATTLIST deceased-inventor
               sequence  CDATA    #IMPLIED 
               lang  CDATA    #IMPLIED>

<!-- Address used for general correspondence -->

<!ELEMENT correspondence-address  (customer-number | addressbook+)>

<!-- Customer number for agents by office -->

<!ELEMENT customer-number  (#PCDATA)>

<!--
Applicant information:
At least one of the applicants named must be a resident or national of a PCT Contracting State for which the receiving Office acts.
-->

<!ELEMENT grantees  (grantee+)>

<!--
*******************************
GRANTEES DATA
*******************************
Applicant information:
(INID 73)

attributes for applicant
sequence : sequence number of each applicant
e.g, sequence="1"
-->

<!ELEMENT grantee  (addressbook+,nationality,residence)>

<!ATTLIST grantee
               sequence  CDATA    #REQUIRED>

<!-- Information regarding agents or common representatives -->

<!ELEMENT agents  (customer-number | agent+) >

<!-- Agent or common representative -->

<!ELEMENT agent  (addressbook+)>

<!ATTLIST agent
               sequence  CDATA    #REQUIRED 
               rep-type (agent | attorney | common-representative)   #REQUIRED>

<!--
**************
TITLE 
*************
NID 54: Title of the invention

Preferably two to seven words when in English or translated into English and precise

Recommended id="invt"; in case of multiple titles use, eg:
"invt01" or "invt-en", "invt-de" etc as required.
-->

<!ELEMENT invention-title  (#PCDATA)>

<!ATTLIST invention-title
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED>

<!--
This tag and elements are to be used primary to code data on the title page of patents under INID code 56.
For the search report as a sub-document use search-report, e.g. for ISR.
(INID 56)
-->

<!ELEMENT references-cited  (text | citation+)>

<!--
*******************************
SEQUENCE LISTINGS
*******************************
Sequence list document component in PCT publication

<!ELEMENT sequence-list-doc  (#PCDATA | doc-page | sequence-list)* >

<!ATTLIST sequence-list-doc
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED 
               status  CDATA    #IMPLIED  >

SEQUENCE LISTING
According to WIPO ST.25: STANDARD FOR THE PRESENTATION OF
NUCLEOTIDE AND AMINO ACID SEQUENCE LISTINGS IN PATENT APPLICATIONS:
see http://www.wipo.int/scit/en/index.html
"The sequence listing as defined in paragraph 2(i) shall, where it is filed
together with the application, be placed at the end of the application.
This part shall be entitled Sequence Listing, begin on a new page and
preferably have independent page numbering. The sequence listing forms an
integral part of the description; it is therefore unnecessary, subject to
paragraph 36, to describe the sequences elsewhere in the description."
Therefore we create here a separate sub-document for sequence listings,
it should follow any drawings or the claims.
It should follow the format of ST.25 and be an external file.

<!ELEMENT sequence-list   EMPTY>

<!ATTLIST sequence-list
               id  ID    #IMPLIED 
               file  CDATA    #REQUIRED 
               lang  CDATA    #IMPLIED 
               carriers (internal-electronic | external-electronic | paper)  
                #IMPLIED 
               seq-file-type  CDATA    #FIXED "ST.25"
               status  CDATA    #IMPLIED>
-->

<!--
*******************************
* IPC DATA - NEW IPC8
*******************************
International Patent Classification (IPC) data;
- implemented in 2006
- see: http://www.wipo.int/scit/en/standards/pdf/03-08-01.pdf:

Industrial property offices are asked to implement this new version of Standard ST.8 for all patent documents with a publication date from January 1, 2006, onwards. 
For patent documents published prior to that date, the previous version of the Standard should continue to be used.

This recording convention provides that symbols of the International Patent Classification (IPC) should be presented on machine-readable records for the exchange of information in 
machine-readable form in a fixed-length field in 50 positions, each part of the Int. Cl. symbol being recorded in specific positions and in the manner prescribed.
- this can be recorded within the <text> tag.

Position(s) Content Values

1 Section A-H
2 to 3 Class 01-99
4 Subclass A-Z
5 to 8 Main Group (right aligned) 1-9999, blank
9 Separating character / ("Slash")
10 to 15 Subgroup (left aligned) 00-999999 blank
16 to 19 For future use 4 blanks
20 to 27 Version indicator YYYYMMDD date format
28 Classification level C, A, S
29 First or later position of symbol F, L
30 Classification value (inventive or non-inventive) I, N
31 to 38 Action date YYYYMMDD date format
39 Original or reclassified data BRVD
40 Source of classification data H M G
41-42 Generating office AA ZZ (ST.3)
43-50 For future use 8 blanks

Example:

<B510EP>
<classification-ipcr sequence="1">
<text>B28B...5/00........20060101AFI20070601BHEP........</text>
</classification-ipcr>
</B510EP>
-->

<!ELEMENT classification-ipcr  ((ipc-version-indicator,classification-level?,section,class,subclass,main-group?,subgroup?, symbol-position?,
classification-value?,action-date?,generating-office?,classification-status?,classification-data-source?) | text)>

<!ATTLIST classification-ipcr
               id  ID    #IMPLIED 
               sequence  CDATA    #IMPLIED>

<!--
Positions 1 to 19: Recording of the parts of the IPC symbols IPC symbols are defined in Part 5 of the WIPO Handbook on Industrial Property Information and Documentation 
and in the latest version of the Guide to the IPC.
-->

<!ELEMENT section  (#PCDATA)>

<!ELEMENT class  (#PCDATA)>

<!ATTLIST class
               class-type  CDATA    #IMPLIED>

<!ELEMENT subclass  (#PCDATA)>

<!ELEMENT main-group  (#PCDATA)>

<!ELEMENT subgroup  (#PCDATA)>

<!--
Positions 20 to 27: Version indicator
Although in the paper publications a version indicator may contain four or six digits, the version indicator in machine-readable records contains eight digits, 
namely YYYYMMDD with Y for year, M for month and D for day.
-->

<!ELEMENT ipc-version-indicator  (date)>

<!--
Position 28 : Classification level
Offices are expected to classify each subject matter only in one level (core or advanced). 
However, both levels need to be completely represented in the master classification database 
and thus a level indicator is needed. The level indicator is also useful for indicating 
situations where an office does not classify in either the core or the advanced level
classification, i.e., when an office only assigns classifications to the subclass level. 
The level indicator enables to make the difference between core, advanced and subclass levels. 
The letters C (Core), A (Advanced) and S (Subclass) are
used for this one-digit field.

Levels: ipcr-advanced, ipcr-core
-->

<!ELEMENT classification-level  (#PCDATA)>

<!--
Position 29: First or later position of symbols
The position of the first invention information classification
can be recognized by this field. The letters F and L are used
for first and later position, respectively.
-->

<!ELEMENT symbol-position  (#PCDATA)>

<!--
Position 30: Classification value (inventive or non-inventive)
The difference between invention information and other information
is important for the retrieval of the information. The
letters I and N are used for the invention and non-invention
information, respectively.
-->

<!ELEMENT classification-value  (#PCDATA)>

<!--
Positions 31-38: Action date
The date of assigning the classification symbol (action date)
is represented by eight digits, namely YYYYMMDD. This
date can be used to check if a classification needs to be
reviewed after revision of the scheme, e.g., in case of creating
new subdivisions.
-->

<!ELEMENT action-date  (date)>

<!--
Position 39: Original and reclassified data
Original data is the first data assigned to the document.
In case of a publishing office assigning classification symbols at
the core level, another office may also assign symbols at
the advanced level as original data.
Reclassified data is data changed due to a change in the classification schemes.
Various data is data changed due to an incidental reclassification
of an individual document, such as the correction of a mistake.
Deleted data is data which has to be deleted from the
Master Classification Database, due to a change in assigning of
classification symbols to a document.

The indication of the different types of data is marked by the letters B for the basic or original data,
R for reclassified data, V for various incidental changes, and D for data to be deleted.
Possible status: original-classification, reclassified, various-classification, deleted-classification
-->

<!ELEMENT classification-status  (#PCDATA)>

<!--
Position 40: Source of classification data
The following sources of classification data are foreseen:
- Intellectual classification by persons,
value H for human generated data.
- Machine classification by the propagation of earlier
intellectual classification through the use of common
priorities in the patent application.
The value M is used in this case and will facilitate later corrections.
- Classification symbols generated by software using automatic
analysis of the content of the patent document.
The letter G is used to indicate this source of generated data.
-->

<!ELEMENT classification-data-source  (#PCDATA)>

<!--Positions 41-42: Generating Office
Since part of the original data in the advanced level and
the reclassified data can be delivered by offices other than the
publishing office, the information source of such data is
recorded by a field of two characters. The country or office
code CC, as defined by WIPO Standard ST.3, must be used.
-->

<!ELEMENT generating-office  (country)>

<!--
Country: Always use WIPO ST.3 country code; e.g. US, JP, DE, FR, GB, NL, etc.
Also EP, WO. Always in upper case. It is also possible to use "stateless" (XA).
-->

<!--
  Sequence list document component in PCT publication.
-->

<!ELEMENT sequence-list-doc (#PCDATA | doc-page | sequence-list)*>

<!ATTLIST sequence-list-doc  id     ID     #IMPLIED
                               lang   CDATA  #IMPLIED
                               status CDATA  #IMPLIED>

<!--
  SEQUENCE LISTING
According to WIPO ST.25: STANDARD FOR THE PRESENTATION OF NUCLEOTIDE AND AMINO ACID SEQUENCE LISTINGS IN PATENT APPLICATIONS: 
see http://www.wipo.int/scit/en/index.html

"The sequence listing as defined in paragraph 2(i) shall, where it is filed together with the application, be placed at the end of the description part of the application. This part shall be entitled Sequence Listing, begin on a new page and preferably have independent page numbering. The sequence listing forms an integral part of the description; it is therefore unnecessary, subject to paragraph 36, to describe the sequences elsewhere in the description."
Therefore we create here a separate sub-document for sequence listings, it should follow any drawings or the claims. It should follow the format of Annex C/ST.25 and be an external file.
-->

<!ELEMENT sequence-list EMPTY>

<!ATTLIST sequence-list  id     ID     #IMPLIED
                                     file    CDATA  #REQUIRED
                                     lang  CDATA  #IMPLIED
                                     carriers             (internal-electronic | external-electronic | paper )  #IMPLIED
                                     seq-file-type CDATA  #FIXED 'ST.25'
                                     status        CDATA  #IMPLIED 
                                     electronic-format-type (text | other ) #IMPLIED
                                     part-of-application (yes | no ) #IMPLIED>

<!-- References to other legally or procedurally related domestic patent documents (INID 60) -->

<!ELEMENT related-documents  (addition | division | continuation | previously-filed-application |
               continuation-in-part | continuing-reissue | reissue | reexamination | 
               substitution | utility-model-basis | correction | related-publication)+>

<!-- Earlier document to which this is an addition (INID 61) -->

<!ELEMENT addition  (relation)>

<!ELEMENT relation  (parent-doc,child-doc)>

<!-- Describes parent document -->

<!ELEMENT parent-doc  (document-id,parent-status?,parent-grant-document?,parent-pct-document?)>

<!ELEMENT parent-status  (#PCDATA)>

<!ELEMENT parent-grant-document  (document-id)>

<!ELEMENT parent-pct-document  (document-id)>

<!-- Indicates child document -->

<!ELEMENT child-doc  (document-id)>

<!-- Earlier application from which the present document has been divided out (INID 62) -->

<!ELEMENT division  (relation)>

<!-- Earlier application of which the present document is a continuation -->

<!ELEMENT continuation  (relation)>

<!-- Document of which this is a continuation-in-part -->

<!ELEMENT continuation-in-part  (relation)>

<!--
Reference to a previously filed application for the purposes 
of obtaining a filing date under the Patent Law Treaty (PLT) Article 5(7) (INID 27)
-->

<!ELEMENT previously-filed-application (document-id+)>

<!ATTLIST previously-filed-application
               id  ID    #IMPLIED>

<!-- Document of which this is a continuing reissue -->

<!ELEMENT continuing-reissue  (relation)>

<!-- Document being reissued (INID 64) -->

<!ELEMENT reissue  (relation)>

<!-- Document of which this is a reexamination -->

<!ELEMENT reexamination  (relation)>

<!-- Document for which this is a substitute (INID 66) -->

<!ELEMENT substitution  (relation)>

<!-- Document on which utility model is based (INID 67) -->

<!ELEMENT utility-model-basis  (relation)>

<!-- Patent correction information -->

<!ELEMENT correction  (document-corrected,type-of-correction?,gazette-reference?,text?)>

<!-- Document being corrected -->

<!ELEMENT document-corrected  (document-id)>

<!-- Type of correction -->

<!ELEMENT type-of-correction  (#PCDATA)>

<!-- Previously published document concerning same application (INID 65) -->

	<!ELEMENT related-publication  (#PCDATA | document-id)*>

<!-- PCT or regional filing information (INID 86) -->

<!ELEMENT pct-or-regional-filing-data (document-id)>

<!-- PCT or regional publication information (INID 87) -->

<!ELEMENT pct-or-regional-publishing-data  (document-id,gazette-reference?)>

<!--
Information about an office's gazette or bulletin - paper, electronic, etc.
where, the details of the patent publication are also given.
Examples WIPO gazette and EPO Bulletin. The date is mandatory.
-->

<!ELEMENT gazette-reference  (gazette-num,date,text?)>

<!ATTLIST gazette-reference
               id  ID    #IMPLIED 
               country  CDATA    #IMPLIED 
               lang  CDATA    #IMPLIED>

<!ELEMENT gazette-num  (#PCDATA)>

